//Homepage Grid
.home {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(3, 30%);
}
.iblock {
	height: auto;
	margin: 0;
	padding: 1%;
}
.a {
	background-color: $link-color;
	color: #FBE8A6;
	grid-column: 1;
	grid-row: 1;
}
.b {
	background-color: $primary-text-color;
	color: #FBE8A6;
	grid-column: 2;
	grid-row: 2 / 4;
	height: auto;
	a {
		color: #FBE8A6;
	}
}
.c {
	background-color: $link-color;
	color: #FBE8A6;
	font-weight: bold;
	grid-column: 3;
	grid-row: 1 / 5;
	height: 100%;
}
.d {
	background-color: $primary-text-color;
	grid-column: 1;
	grid-row: 4;
}
.k {
	grid-column: 1;
	grid-row: 3;
}
.g,.k {
	background-color: #333;
}
.b,.e,.g,.i,.k,.d {
	font-size: 64px;
	line-height: 1.5em;
}
.i {
	grid-column: 2;
	grid-row: 4;
}
.b,.k,.g,.d {
	a {
		color: #FBE8A6;
	}
}