@import url(https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css);

@import bulma/utilities/utilities;
@import bulma/config/variables;
@import bulma/config/generated-variables;
@import bulma/base/base;
@import bulma/elements/elements;
@import bulma/components/components;
@import bulma/layout/layout;

body {
  margin: 2% 10% 0 10%;
}

.welcome {
  margin-bottom: 2%;
}

ul, li, a {
  list-style: none;
}

section {
  padding: 1%;
}