@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Allura);

body {
  font-family: 'Oswald', sans-serif;
  color: #303030;
  padding-top: 25px;
  margin: 0 15%;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1 {
  font-weight: 300;
}

a {
  color:#b23214;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:20%;
  float:left;
  padding:10px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

.welcome {
  margin-right: 8%;
}

.welcome h1 {
  font-size: 5em;
}

.contact {
  float: none;
}

.portfolio li {
  padding-bottom: 5%;
}

.disclaimer {
  font-size: 14px;
  font-style: italic;
}

.social-media {
  display: inline-flex;
}

.social-media li {
  padding-right: 20px;
}
.social-media li:hover {
  color: #45bcd2;
}

.resume {
  clear: both;
}

@media print, screen and (max-width: 960px) {

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border-bottom :1px solid #e5e5e5;
    padding:20px 0;
    margin:0 0 20px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  .welcome h1 {
    font-size: 4em;
  }

  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
